# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_URL=postgres://default:************@ep-calm-cloud-a4u1dx2t.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
AUTH_SECRET= 82dae34c4ec5cf4b18187cef263894f2
